<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
  <title>AngularJS 1.3 IE8 smoke test</title>

  <link href="css/style.css" rel="stylesheet" />

  <!--[if IE 8]>
    <script src="app/lib/es5-shim.js"></script>
  <![endif]-->

  <!--Useful-->
  <!--[if IE 8]>
    <script src="app/lib/console-shim.min.js"></script>
  <![endif]-->

  <script src="app/lib/jquery-1.11.1.min.js"></script>
  <!--<script src="../../build/ie8/angular.js"></script>-->
  <script src="../../build/ie8/angular.min.js"></script>

  <script src="../../build/angular-route.js"></script>
  <script src="../../build/angular-aria.js"></script>
  <script src="../../build/angular-animate.js"></script>
  <script src="../../build/angular-cookies.js"></script>
  <script src="../../build/angular-messages.js"></script>
  <script src="../../build/angular-resource.js"></script>
  <script src="../../build/angular-sanitize.js"></script>
  <script src="../../build/angular-touch.js"></script>

  <script src="app/home/home.js"></script>
  <script src="app/about/about.js"></script>
  <script src="app/directives/tests.js"></script>
  <script src="app/filters/tests.js"></script>
  <script src="app/app.js"></script>

</head>

<body ng-app="ie8Test">

  <h1>Angular 1.3 IE8 smoke test</h1>

  <div>

    <h2>Routes</h2>
    <ul>
      <li><a href="#/home">Home</a>
      </li>
      <li><a href="#/about">About</a>
      </li>
    </ul>
    <div class="view-container">
      <div ng-view class="view-frame"></div>
    </div>

    <hr>

    <h2>Includes</h2>
    <div ng-include="'app/include/inc.html'"></div>

    <hr>

    <h2>ngModelOptions options</h2>
    <input ng-model="model.foo" ng-model-options="{ debounce: 300 }" />{{model.foo}}

    <hr>

    <h2>Directives</h2>

    <div dir-a></div>

    <div dir-b>
      <div ng-repeat="task in tasks track by $index">
        <strong>{{ task.title }}</strong>
      </div>
    </div>

    <div dir-c></div>
    <div dir-d></div>
    <div dir-e></div>


    <h2>Filters</h2>

    <p>{{'make me Uppercase' | uppercase}}, {{'MAKE Me Lowercase' | lowercase}}</p>

    <p>Custom filter: <span>{{true | checkmark}}</span><span>{{false | checkmark}}</span>
    </p>

    <div ng-init="friends = [{name:'John', phone:'555-1276'},
                         {name:'Mary', phone:'800-BIG-MARY'},
                         {name:'Mike', phone:'555-4321'},
                         {name:'Adam', phone:'555-5678'},
                         {name:'Julie', phone:'555-8765'},
                         {name:'Juliette', phone:'555-5678'}]"></div>

    Search:
    <input ng-model="searchText">
    <table id="searchTextResults">
      <tr>
        <th>Name</th>
        <th>Phone</th>
      </tr>
      <tr ng-repeat="friend in friends | filter:searchText">
        <td>{{friend.name}}</td>
        <td>{{friend.phone}}</td>
      </tr>
    </table>
    <hr>Any:
    <input ng-model="search.$">
    <br>Name only
    <input ng-model="search.name">
    <br>Phone only
    <input ng-model="search.phone">
    <br>Equality
    <input type="checkbox" ng-model="strict">
    <br>
    <table id="searchObjResults">
      <tr>
        <th>Name</th>
        <th>Phone</th>
      </tr>
      <tr ng-repeat="friendObj in friends | filter:search:strict">
        <td>{{friendObj.name}}</td>
        <td>{{friendObj.phone}}</td>
      </tr>
    </table>



  </div>

</body>

</html>
